body{
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2b2b2b;
}

header{
  background-color: #2b2b2b;
  color: #eeeeee;
  padding:5px;
  margin:5px;
  text-align: center;
  border-radius: 15px;
}


#menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:0 -10px;
}
#menu ul li {
  margin: 5px 40px;
}

#menu ul li a {
  display: flex;
  color: #eeeeee
}
#menu ul li a:hover {
  color: #2fa6e6
}


a{
  color:#2b2b2b;
  text-decoration: none;
}

a:hover{
  color:#2fa6e6;
}

.texte-principal{
  margin: 10px;
  font-size: 1.1em;
}

ul {
  margin:-7px 0;
}